<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE"
		value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}apollo-portal.log}" />
	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<!--<appender name="PASSPORT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
		<!--<file>/home/work/log/apollo/passport.log</file>-->
		<!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
			<!--<fileNamePattern>/home/work/log/apollo/passport-%d{yyyy-MM-dd}.log</fileNamePattern>-->
		<!--</rollingPolicy>-->
		<!--<encoder>-->
			<!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>-->
		<!--</encoder>-->
	<!--</appender>-->

	<!--<logger name="com.xiaomi.passport" level="debug" additivity="false">-->
		<!--<appender-ref ref="CONSOLE" />-->
		<!--<appender-ref ref="PASSPORT_FILE" />-->
	<!--</logger>-->

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
